.stars {
  position: absolute;
  top: 0%;
  left: 0;
  width: 75%;
  height: 100%;
  transform: rotate(-45deg);
  overflow: hidden;
}
.stars-bottom {
  top: 150%;
  overflow: hidden;
  left: 50%;
  /* background: red; */
  height: 100vh;
  width: 100vw;
}
@media (max-width: 560px) {
  .stars {
    top: 30%;
  }
}

.star {
  --star-color: #5f91ff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);

  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.3em;
  --top-offset: 150.8vh;
  --fall-duration: 10.139s;
  --fall-delay: 3.968s;
}
.star:nth-child(2) {
  --star-tail-length: 5.42em;
  --top-offset: 140.91vh;
  --fall-duration: 11.208s;
  --fall-delay: 5.26s;
}
.star:nth-child(3) {
  --star-tail-length: 6.77em;
  --top-offset: 135.64vh;
  --fall-duration: 11.052s;
  --fall-delay: 2.002s;
}
.star:nth-child(4) {
  --star-tail-length: 5.26em;
  --top-offset: 115.62vh;
  --fall-duration: 7.178s;
  --fall-delay: 7.998s;
}
.star:nth-child(5) {
  --star-tail-length: 6.47em;
  --top-offset: 110.02vh;
  --fall-duration: 9.652s;
  --fall-delay: 5.369s;
}
.star:nth-child(6) {
  --star-tail-length: 6.5em;
  --top-offset: 20.59vh;
  --fall-duration: 7.132s;
  --fall-delay: 9.383s;
}
.star:nth-child(7) {
  --star-tail-length: 5.72em;
  --top-offset: 52.29vh;
  --fall-duration: 11.622s;
  --fall-delay: 7.853s;
}
.star:nth-child(8) {
  --star-tail-length: 7.12em;
  --top-offset: 1.39vh;
  --fall-duration: 9.898s;
  --fall-delay: 4.23s;
}
.star:nth-child(9) {
  --star-tail-length: 6.64em;
  --top-offset: 25.97vh;
  --fall-duration: 10.736s;
  --fall-delay: 4.129s;
}
.star:nth-child(10) {
  --star-tail-length: 6.55em;
  --top-offset: 107.07vh;
  --fall-duration: 10.066s;
  --fall-delay: 1.598s;
}
.star:nth-child(11) {
  --star-tail-length: 6.08em;
  --top-offset: 55.32vh;
  --fall-duration: 11.03s;
  --fall-delay: 7.825s;
}
.star:nth-child(12) {
  --star-tail-length: 7.42em;
  --top-offset: 111.83vh;
  --fall-duration: 11.793s;
  --fall-delay: 9.012s;
}
.star:nth-child(13) {
  --star-tail-length: 7.3em;
  --top-offset: 22.93vh;
  --fall-duration: 7.8s;
  --fall-delay: 1.385s;
}
.star:nth-child(14) {
  --star-tail-length: 7.13em;
  --top-offset: 109.73vh;
  --fall-duration: 7.19s;
  --fall-delay: 6.846s;
}
.star:nth-child(15) {
  --star-tail-length: 5.59em;
  --top-offset: 16.47vh;
  --fall-duration: 9.491s;
  --fall-delay: 2.01s;
}
.star:nth-child(16) {
  --star-tail-length: 5.91em;
  --top-offset: 69.1vh;
  --fall-duration: 7.443s;
  --fall-delay: 7.539s;
}
.star:nth-child(17) {
  --star-tail-length: 5.57em;
  --top-offset: -37.79vh;
  --fall-duration: 11.931s;
  --fall-delay: 5.688s;
}
.star:nth-child(18) {
  --star-tail-length: 6.56em;
  --top-offset: -30.04vh;
  --fall-duration: 6.88s;
  --fall-delay: 8.875s;
}
.star:nth-child(19) {
  --star-tail-length: 6.92em;
  --top-offset: -50.06vh;
  --fall-duration: 6.102s;
  --fall-delay: 0.782s;
}
.star:nth-child(20) {
  --star-tail-length: 6.03em;
  --top-offset: 80.41vh;
  --fall-duration: 6.744s;
  --fall-delay: 2.041s;
}
.star:nth-child(21) {
  --star-tail-length: 6.66em;
  --top-offset: 65.85vh;
  --fall-duration: 9.172s;
  --fall-delay: 4.829s;
}
.star:nth-child(22) {
  --star-tail-length: 6.53em;
  --top-offset: -15.22vh;
  --fall-duration: 7.634s;
  --fall-delay: 6.661s;
}
.star:nth-child(23) {
  --star-tail-length: 6.24em;
  --top-offset: -16.09vh;
  --fall-duration: 7.309s;
  --fall-delay: 7.879s;
}
.star:nth-child(24) {
  --star-tail-length: 5.01em;
  --top-offset: 8.99vh;
  --fall-duration: 7.571s;
  --fall-delay: 8.242s;
}
.star:nth-child(25) {
  --star-tail-length: 5.45em;
  --top-offset: 32.63vh;
  --fall-duration: 6.153s;
  --fall-delay: 0.556s;
}
.star:nth-child(26) {
  --star-tail-length: 5.01em;
  --top-offset: 93.96vh;
  --fall-duration: 8.163s;
  --fall-delay: 9.974s;
}
.star:nth-child(27) {
  --star-tail-length: 6.02em;
  --top-offset: -10.94vh;
  --fall-duration: 7.998s;
  --fall-delay: 3.439s;
}
.star:nth-child(28) {
  --star-tail-length: 7.5em;
  --top-offset: 70.7vh;
  --fall-duration: 9.627s;
  --fall-delay: 5.507s;
}
.star:nth-child(29) {
  --star-tail-length: 7.5em;
  --top-offset: 20.59vh;
  --fall-duration: 6.625s;
  --fall-delay: 2.703s;
}
.star:nth-child(30) {
  --star-tail-length: 7.41em;
  --top-offset: 73.93vh;
  --fall-duration: 9.511s;
  --fall-delay: 2.146s;
}
.star:nth-child(31) {
  --star-tail-length: 5.54em;
  --top-offset: 26.94vh;
  --fall-duration: 9.845s;
  --fall-delay: 4.791s;
}
.star:nth-child(32) {
  --star-tail-length: 7.1em;
  --top-offset: 64.72vh;
  --fall-duration: 9.203s;
  --fall-delay: 4.107s;
}
.star:nth-child(33) {
  --star-tail-length: 6em;
  --top-offset: 77.59vh;
  --fall-duration: 6.615s;
  --fall-delay: 8.123s;
}
.star:nth-child(34) {
  --star-tail-length: 5.95em;
  --top-offset: 93.7vh;
  --fall-duration: 11.105s;
  --fall-delay: 7.243s;
}
.star:nth-child(35) {
  --star-tail-length: 5.7em;
  --top-offset: 27.22vh;
  --fall-duration: 9.668s;
  --fall-delay: 1.364s;
}
.star:nth-child(36) {
  --star-tail-length: 6.83em;
  --top-offset: 50.01vh;
  --fall-duration: 10.052s;
  --fall-delay: 1.103s;
}
.star:nth-child(37) {
  --star-tail-length: 6.44em;
  --top-offset: 74.49vh;
  --fall-duration: 10.212s;
  --fall-delay: 5.598s;
}
.star:nth-child(38) {
  --star-tail-length: 6.49em;
  --top-offset: 5.45vh;
  --fall-duration: 10.471s;
  --fall-delay: 5.094s;
}
.star:nth-child(39) {
  --star-tail-length: 6.47em;
  --top-offset: 76.75vh;
  --fall-duration: 6.033s;
  --fall-delay: 9.783s;
}
.star:nth-child(40) {
  --star-tail-length: 5.7em;
  --top-offset: 55.71vh;
  --fall-duration: 11.707s;
  --fall-delay: 1.702s;
}
.star:nth-child(41) {
  --star-tail-length: 7.09em;
  --top-offset: 34.33vh;
  --fall-duration: 7.131s;
  --fall-delay: 1.831s;
}
.star:nth-child(42) {
  --star-tail-length: 7.13em;
  --top-offset: 92.25vh;
  --fall-duration: 6.752s;
  --fall-delay: 4.246s;
}
.star:nth-child(43) {
  --star-tail-length: 5.72em;
  --top-offset: 39.62vh;
  --fall-duration: 7.951s;
  --fall-delay: 3.217s;
}
.star:nth-child(44) {
  --star-tail-length: 6.71em;
  --top-offset: 28.66vh;
  --fall-duration: 11.008s;
  --fall-delay: 2.472s;
}
.star:nth-child(45) {
  --star-tail-length: 5.6em;
  --top-offset: 53.02vh;
  --fall-duration: 6.256s;
  --fall-delay: 2.456s;
}
.star:nth-child(46) {
  --star-tail-length: 5.63em;
  --top-offset: 44.14vh;
  --fall-duration: 10.952s;
  --fall-delay: 5.218s;
}
.star:nth-child(47) {
  --star-tail-length: 6.95em;
  --top-offset: 82.09vh;
  --fall-duration: 7.69s;
  --fall-delay: 5.661s;
}
.star:nth-child(48) {
  --star-tail-length: 5.32em;
  --top-offset: 42.24vh;
  --fall-duration: 6.223s;
  --fall-delay: 2.833s;
}
.star:nth-child(49) {
  --star-tail-length: 6.22em;
  --top-offset: 36.51vh;
  --fall-duration: 10.596s;
  --fall-delay: 6.896s;
}
.star:nth-child(50) {
  --star-tail-length: 6.84em;
  --top-offset: 69.2vh;
  --fall-duration: 11.731s;
  --fall-delay: 9.586s;
}
.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/************ Small Star Css ************/

.small-night {
  position: absolute; /* position: relative; */
  width: 30%;
  height: 30%;
  transform: rotateZ(40deg);
  top: 50%;
  left: 50%;
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.small-star {
  position: absolute;
  left: 50%;
  margin-left: 40%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: smallTail 3s infinite, smallFalling 3s infinite;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 400px;
  }
  100% {
    width: 0;
  }
}
@keyframes smallTail {
  0% {
    width: 10px;
  }
  30% {
    width: 50px;
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes smallFalling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.small-star::before,
.small-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: smallShining 3s ease-in-out infinite;
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes smallShining {
  0% {
    width: 0;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0;
  }
}
.small-star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.small-star:nth-child(1) {
  top: 50% !important;
  left: 10% !important;

  animation-delay: 1s;
}

.small-star:nth-child(1)::before,
.small-star:nth-child(1)::after {
  animation-delay: 1s;
}

.small-star:nth-child(2) {
  top: 50%;
  left: 7%;
  rotate: 72deg;
  animation-delay: 1s;
}

.small-star:nth-child(2)::before,
.small-star:nth-child(2)::after {
  animation-delay: 1s;
}

.small-star:nth-child(3) {
  top: 52%;
  left: 5%;
  rotate: 144deg;
  animation-delay: 1s;
}

.small-star:nth-child(3)::before,
.small-star:nth-child(3)::after {
  animation-delay: 1s;
}

.small-star:nth-child(4) {
  top: 50%;
  left: 5%;
  rotate: 216deg;
  animation-delay: 1s;
}

.small-star:nth-child(4)::before,
.small-star:nth-child(4)::after {
  animation-delay: 1s;
}

.small-star:nth-child(5) {
  top: 50%;
  left: 7%;
  rotate: 288deg;
  animation-delay: 1s;
}

.small-star:nth-child(5)::before,
.small-star:nth-child(5)::after {
  animation-delay: 1s;
}
