.card-certification-container {
  margin: 10rem 0 !important;
  padding: 0 5rem;
  color: #000;
  width: 100vw !important;
  overflow-x: hidden !important;
}
.card-certification {
  margin-top: 5vh !important;
}

.single-project {
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.single-project img {
  height: 70vh;
}
.single-project:hover img {
  transform: scale(1.2);
  transition: 1s;
}

.projects-content {
  position: absolute;
  top: 80%;
}

@media (max-width: 720px) {
  .single-project {
    width: 100vw;
  }
  .card-certification-container {
    padding: 0;
  }
}
