.gallery-move-container {
  width: 100vw;
  /* height: 100vh; */
  transition: 1s;
  /* overflow: hidden; */
}
.gallery-move-container div {
  padding: 0;
  display: block;
  overflow: hidden;
}
.gallery-move-list img {
  height: 25vh;
  object-fit: cover;
}

.gallery-move-list img:hover {
  transform: scale(1.2);
  transition: 1s;
}
