.gallery-move-container {
  width: 100vw;
  height: 150vh;
  position: relative;
}
.gallery-move-container div {
  padding: 0;
  display: block;
  position: absolute;
  overflow: hidden;
}
.gallery-move-list img {
  height: 30vh;
  object-fit: cover;
}

.gallery-move-list img:hover {
  transform: scale(1.2);
  transition: 1s;
}
.animation-transition-width {
  animation: magicalTransition-width 5s;
}
.animation-transition-height {
  animation: magicalTransition-height 5s;
}
@keyframes magicalTransition-width {
  50% {
    width: 0;
  }
  100% {
    width: 33.3vw;
  }
}
@keyframes magicalTransition-height {
  0% {
    height: 30vh;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30vh;
  }
}
