@media (max-width: 600px) {
  .carousel-react-slick {
    width: 90%;
    margin-left: 5%;
  }
}
.slick-dots li button:before {
  color: var(--Aqua-color);
  opacity: 1;
}
.slick-dots {
  top: -7.5%;
  height: fit-content;
}

.slick-dots li.slick-active button:before {
  color: var(--Monochromatic-color);
  opacity: 1;
}
.proj-choose-icon .active-filter {
  opacity: 1;
}
.proj-choose-icon-active {
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: max(5vw, 120px);
  top: -20%;
  opacity: 1;
  transition: 500ms;
}

.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
  overflow: hidden;
  visibility: hidden;
}

.proj-choose-icon {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.proj-choose-icon button {
  width: max(5vw, 100px);
  margin: 0 5% 3% 5%;
  display: block;
  position: relative;
  opacity: 0.75;
}

.proj-choose-icon button:hover {
  opacity: 1;
}

.proj-choose-icon img {
  width: 100%;
}
.proj-choose-icon svg {
  width: 100%;
  height: 100%;
}

.project h2 {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
}

.project p {
  color: #b8b8b8;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 0.9rem auto 1.8rem auto;
  width: 56%;
}

.project .nav.nav-pills {
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.project .nav.nav-pills .nav-item {
  width: 175px;
  margin: 0 5px;
}

@media (max-width: 770px) {
  .proj-choose-icon {
    margin-bottom: 10%;
  }
}
.nav-pills .nav-link {
  border-radius: 0 !important;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(
    90.21deg,
    var(--DeepCarminePink-color) -5.91%,
    var(--BlueyPurple-color) 111.58%
  );
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 0;
}

.slick-slide > div {
  padding: 0 5px;
}
.proj-imgbx {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  color: var(--Aqua-color);
  z-index: 9999;
  margin-top: 10px;
}
.proj-imgbx img {
  object-fit: cover;
}

.proj-imgbx .d-none {
  display: none;
}
.d-invisible-proj {
  visibility: hidden;
}
.card-details-proj {
  display: none;
  z-index: 10000;
  color: #000;
  position: fixed;
  width: 60% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-details-proj .col .card {
  padding: -200px !important;
}

@media (max-width: 640px) {
  .card-details-proj {
    width: 100% !important;
  }
}
.card-details-proj .text-sm22 {
  font-size: 1rem;
  width: 100%;
  text-align: left;
  color: #808080;
}
.card-details-proj-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-details-proj-links .first-link {
  text-decoration: none !important;
  color: var(--ChineseBlack-color);
  background: var(--Monochromatic-color);
  padding: 1% 2%;
  border-radius: 3px;
}
.card-details-proj-links .first-link:hover {
  color: white;
}

.card-details-proj-links img {
  border: 1px solid #fff;
  border-radius: 50%;
}
.card-details-proj-links a:hover img {
  border: 1px solid black;
}

.proj-txtx a {
  display: none;
  text-decoration: none;
  background-color: var(--ChineseBlack-color);
  color: var(--DeepCarminePink-color);
  margin: auto;
  width: fit-content;
  opacity: 0.7;
  padding: 3px 20px 3px 20px;
  border-radius: 4px;
}

.proj-urls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
}
.proj-urls .proj-urls-git-link a {
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  top: -20%;
}
.proj-urls .proj-urls-git-link img {
  border: 1px solid black;
  border-radius: 50%;
}
.proj-urls .proj-urls-git-link a:hover img {
  border: 1px solid #fff;
  border-radius: 50%;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.card-body p {
  font-size: 1rem;
  width: 100%;
  text-overflow: clip;
}
.card-img {
  width: 100%;
}

.btn-change-projects-display button {
  background: #000 !important;
  margin: -1rem 0 1.5rem 0;
}
.btn-change-projects-display button:hover {
  background: var(--ChineseBlack-color) !important;
}

.proj-card-category-item {
  margin: 0.1rem 0.3rem;
  background: #4a2fbd;
}
.proj-card-category-item-bg {
  background: var(--BlueyPurple-sub-color);
}
