.banner {
  margin-top: 0;
  padding: 16rem 0 6rem 0;
  background-image: url('../../assets/img2/pexels-hristo-fidanov-1252890.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  transition: 1s;
}
.banner div {
  z-index: 10;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-family: system-ui;

  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #fffcfc;
}

@media (max-width: 560px) {
  .banner h1 {
    font-size: 1.5rem;
  }
}
.banner p {
  color: #dadada;
  font-size: 1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 80%;
  font-weight: 400;
  margin-right: 10%;
  float: right;
  font-family: system-ui;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  position: absolute;
  width: 25%;
  height: 25%;
  right: 0;
  top: 40%;
  animation: updown 3s linear infinite;
  clear: both;
  z-index: 10;
}
@media (max-width: 576px) {
  .banner img {
    top: 65%;
  }
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.banner-text-head-rotate label {
  color: var(--Aqua-color);
}
.lets-connect:hover {
  color: var(--Monochromatic-color);
}
.lets-connect {
  text-decoration: none;
  display: inline-flex;
  color: #e7e7e7;
  border: 0;
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  transition: 0.3s;
}

.lets-connect:hover svg {
  margin-top: 2rem;
  transition: 0.25s;
}
