/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar .navbar-brand {
  width: auto;
  margin-right: 40px;
}

@media (max-width: 700px) {
  nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
  }
}

nav.navbar.scrolled {
  background-color: #121212;
}

nav.navbar .navbar-nav .nav-link.navbar-link a {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  line-height: normal;
  font-size: 18px;
  opacity: 0.75;
  align-self: flex-end;
  text-decoration: none;
  border: 0;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover a,
nav.navbar .navbar-nav a.nav-link.navbar-link.active a {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgb(54, 54, 54);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: '';
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.vvd {
  font-weight: 700;
  color: #fff !important;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  display: block;
  overflow: hidden;
}
.vvd span {
  z-index: 3;
}
.vvd::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #753aa2;
  top: 0;
  left: 100%;
  transition: 0.5s;
  z-index: -5;
}
.vvd:hover::before {
  left: 0;
}
.vvd:hover span {
  color: #000;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Star Css ************/

.stars {
  position: absolute;
  top: 0%;
  left: 0;
  width: 75%;
  height: 100%;
  transform: rotate(-45deg);
}
@media (max-width: 560px) {
  .stars {
    top: 30%;
  }
}

.star {
  --star-color: #5f91ff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);

  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.3em;
  --top-offset: 150.8vh;
  --fall-duration: 10.139s;
  --fall-delay: 3.968s;
}
.star:nth-child(2) {
  --star-tail-length: 5.42em;
  --top-offset: 140.91vh;
  --fall-duration: 11.208s;
  --fall-delay: 5.26s;
}
.star:nth-child(3) {
  --star-tail-length: 6.77em;
  --top-offset: 135.64vh;
  --fall-duration: 11.052s;
  --fall-delay: 2.002s;
}
.star:nth-child(4) {
  --star-tail-length: 5.26em;
  --top-offset: 115.62vh;
  --fall-duration: 7.178s;
  --fall-delay: 7.998s;
}
.star:nth-child(5) {
  --star-tail-length: 6.47em;
  --top-offset: 110.02vh;
  --fall-duration: 9.652s;
  --fall-delay: 5.369s;
}
.star:nth-child(6) {
  --star-tail-length: 6.5em;
  --top-offset: 20.59vh;
  --fall-duration: 7.132s;
  --fall-delay: 9.383s;
}
.star:nth-child(7) {
  --star-tail-length: 5.72em;
  --top-offset: 52.29vh;
  --fall-duration: 11.622s;
  --fall-delay: 7.853s;
}
.star:nth-child(8) {
  --star-tail-length: 7.12em;
  --top-offset: 1.39vh;
  --fall-duration: 9.898s;
  --fall-delay: 4.23s;
}
.star:nth-child(9) {
  --star-tail-length: 6.64em;
  --top-offset: 25.97vh;
  --fall-duration: 10.736s;
  --fall-delay: 4.129s;
}
.star:nth-child(10) {
  --star-tail-length: 6.55em;
  --top-offset: 107.07vh;
  --fall-duration: 10.066s;
  --fall-delay: 1.598s;
}
.star:nth-child(11) {
  --star-tail-length: 6.08em;
  --top-offset: 55.32vh;
  --fall-duration: 11.03s;
  --fall-delay: 7.825s;
}
.star:nth-child(12) {
  --star-tail-length: 7.42em;
  --top-offset: 111.83vh;
  --fall-duration: 11.793s;
  --fall-delay: 9.012s;
}
.star:nth-child(13) {
  --star-tail-length: 7.3em;
  --top-offset: 22.93vh;
  --fall-duration: 7.8s;
  --fall-delay: 1.385s;
}
.star:nth-child(14) {
  --star-tail-length: 7.13em;
  --top-offset: 109.73vh;
  --fall-duration: 7.19s;
  --fall-delay: 6.846s;
}
.star:nth-child(15) {
  --star-tail-length: 5.59em;
  --top-offset: 16.47vh;
  --fall-duration: 9.491s;
  --fall-delay: 2.01s;
}
.star:nth-child(16) {
  --star-tail-length: 5.91em;
  --top-offset: 69.1vh;
  --fall-duration: 7.443s;
  --fall-delay: 7.539s;
}
.star:nth-child(17) {
  --star-tail-length: 5.57em;
  --top-offset: -37.79vh;
  --fall-duration: 11.931s;
  --fall-delay: 5.688s;
}
.star:nth-child(18) {
  --star-tail-length: 6.56em;
  --top-offset: -30.04vh;
  --fall-duration: 6.88s;
  --fall-delay: 8.875s;
}
.star:nth-child(19) {
  --star-tail-length: 6.92em;
  --top-offset: -50.06vh;
  --fall-duration: 6.102s;
  --fall-delay: 0.782s;
}
.star:nth-child(20) {
  --star-tail-length: 6.03em;
  --top-offset: 80.41vh;
  --fall-duration: 6.744s;
  --fall-delay: 2.041s;
}
.star:nth-child(21) {
  --star-tail-length: 6.66em;
  --top-offset: 65.85vh;
  --fall-duration: 9.172s;
  --fall-delay: 4.829s;
}
.star:nth-child(22) {
  --star-tail-length: 6.53em;
  --top-offset: -15.22vh;
  --fall-duration: 7.634s;
  --fall-delay: 6.661s;
}
.star:nth-child(23) {
  --star-tail-length: 6.24em;
  --top-offset: -16.09vh;
  --fall-duration: 7.309s;
  --fall-delay: 7.879s;
}
.star:nth-child(24) {
  --star-tail-length: 5.01em;
  --top-offset: 8.99vh;
  --fall-duration: 7.571s;
  --fall-delay: 8.242s;
}
.star:nth-child(25) {
  --star-tail-length: 5.45em;
  --top-offset: 32.63vh;
  --fall-duration: 6.153s;
  --fall-delay: 0.556s;
}
.star:nth-child(26) {
  --star-tail-length: 5.01em;
  --top-offset: 93.96vh;
  --fall-duration: 8.163s;
  --fall-delay: 9.974s;
}
.star:nth-child(27) {
  --star-tail-length: 6.02em;
  --top-offset: -10.94vh;
  --fall-duration: 7.998s;
  --fall-delay: 3.439s;
}
.star:nth-child(28) {
  --star-tail-length: 7.5em;
  --top-offset: 70.7vh;
  --fall-duration: 9.627s;
  --fall-delay: 5.507s;
}
.star:nth-child(29) {
  --star-tail-length: 7.5em;
  --top-offset: 20.59vh;
  --fall-duration: 6.625s;
  --fall-delay: 2.703s;
}
.star:nth-child(30) {
  --star-tail-length: 7.41em;
  --top-offset: 73.93vh;
  --fall-duration: 9.511s;
  --fall-delay: 2.146s;
}
.star:nth-child(31) {
  --star-tail-length: 5.54em;
  --top-offset: 26.94vh;
  --fall-duration: 9.845s;
  --fall-delay: 4.791s;
}
.star:nth-child(32) {
  --star-tail-length: 7.1em;
  --top-offset: 64.72vh;
  --fall-duration: 9.203s;
  --fall-delay: 4.107s;
}
.star:nth-child(33) {
  --star-tail-length: 6em;
  --top-offset: 77.59vh;
  --fall-duration: 6.615s;
  --fall-delay: 8.123s;
}
.star:nth-child(34) {
  --star-tail-length: 5.95em;
  --top-offset: 93.7vh;
  --fall-duration: 11.105s;
  --fall-delay: 7.243s;
}
.star:nth-child(35) {
  --star-tail-length: 5.7em;
  --top-offset: 27.22vh;
  --fall-duration: 9.668s;
  --fall-delay: 1.364s;
}
.star:nth-child(36) {
  --star-tail-length: 6.83em;
  --top-offset: 50.01vh;
  --fall-duration: 10.052s;
  --fall-delay: 1.103s;
}
.star:nth-child(37) {
  --star-tail-length: 6.44em;
  --top-offset: 74.49vh;
  --fall-duration: 10.212s;
  --fall-delay: 5.598s;
}
.star:nth-child(38) {
  --star-tail-length: 6.49em;
  --top-offset: 5.45vh;
  --fall-duration: 10.471s;
  --fall-delay: 5.094s;
}
.star:nth-child(39) {
  --star-tail-length: 6.47em;
  --top-offset: 76.75vh;
  --fall-duration: 6.033s;
  --fall-delay: 9.783s;
}
.star:nth-child(40) {
  --star-tail-length: 5.7em;
  --top-offset: 55.71vh;
  --fall-duration: 11.707s;
  --fall-delay: 1.702s;
}
.star:nth-child(41) {
  --star-tail-length: 7.09em;
  --top-offset: 34.33vh;
  --fall-duration: 7.131s;
  --fall-delay: 1.831s;
}
.star:nth-child(42) {
  --star-tail-length: 7.13em;
  --top-offset: 92.25vh;
  --fall-duration: 6.752s;
  --fall-delay: 4.246s;
}
.star:nth-child(43) {
  --star-tail-length: 5.72em;
  --top-offset: 39.62vh;
  --fall-duration: 7.951s;
  --fall-delay: 3.217s;
}
.star:nth-child(44) {
  --star-tail-length: 6.71em;
  --top-offset: 28.66vh;
  --fall-duration: 11.008s;
  --fall-delay: 2.472s;
}
.star:nth-child(45) {
  --star-tail-length: 5.6em;
  --top-offset: 53.02vh;
  --fall-duration: 6.256s;
  --fall-delay: 2.456s;
}
.star:nth-child(46) {
  --star-tail-length: 5.63em;
  --top-offset: 44.14vh;
  --fall-duration: 10.952s;
  --fall-delay: 5.218s;
}
.star:nth-child(47) {
  --star-tail-length: 6.95em;
  --top-offset: 82.09vh;
  --fall-duration: 7.69s;
  --fall-delay: 5.661s;
}
.star:nth-child(48) {
  --star-tail-length: 5.32em;
  --top-offset: 42.24vh;
  --fall-duration: 6.223s;
  --fall-delay: 2.833s;
}
.star:nth-child(49) {
  --star-tail-length: 6.22em;
  --top-offset: 36.51vh;
  --fall-duration: 10.596s;
  --fall-delay: 6.896s;
}
.star:nth-child(50) {
  --star-tail-length: 6.84em;
  --top-offset: 69.2vh;
  --fall-duration: 11.731s;
  --fall-delay: 9.586s;
}
.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/************ Small Star Css ************/

.small-night {
  position: absolute; /* position: relative; */
  width: 30%;
  height: 30%;
  transform: rotateZ(40deg);
  top: 50%;
  left: 50%;
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.small-star {
  position: absolute;
  left: 50%;
  margin-left: 40%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: smallTail 3s infinite, smallFalling 3s infinite;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 400px;
  }
  100% {
    width: 0;
  }
}
@keyframes smallTail {
  0% {
    width: 10px;
  }
  30% {
    width: 50px;
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes smallFalling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.small-star::before,
.small-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: smallShining 3s ease-in-out infinite;
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes smallShining {
  0% {
    width: 0;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0;
  }
}
.small-star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.small-star:nth-child(1) {
  top: 50% !important;
  left: 10% !important;

  animation-delay: 1s;
}

.small-star:nth-child(1)::before,
.small-star:nth-child(1)::after {
  animation-delay: 1s;
}

.small-star:nth-child(2) {
  top: 50%;
  left: 7%;
  rotate: 72deg;
  animation-delay: 1s;
}

.small-star:nth-child(2)::before,
.small-star:nth-child(2)::after {
  animation-delay: 1s;
}

.small-star:nth-child(3) {
  top: 54%;
  left: 5%;
  rotate: 144deg;
  animation-delay: 1s;
}

.small-star:nth-child(3)::before,
.small-star:nth-child(3)::after {
  animation-delay: 1s;
}

.small-star:nth-child(4) {
  top: 50%;
  left: 5%;
  rotate: 216deg;
  animation-delay: 1s;
}

.small-star:nth-child(4)::before,
.small-star:nth-child(4)::after {
  animation-delay: 1s;
}

.small-star:nth-child(5) {
  top: 50%;
  left: 7%;
  rotate: 288deg;
  animation-delay: 1s;
}

.small-star:nth-child(5)::before,
.small-star:nth-child(5)::after {
  animation-delay: 1s;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img2/main_image_star-forming_region_carina_nircam_final-5mb_square.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.banner div {
  z-index: 10;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #fffcfc;
}

@media (max-width: 560px) {
  .banner h1 {
    font-size: 1.5rem;
  }
}
.banner p {
  color: #dadada;
  font-size: 1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 80%;
  font-weight: 400;
  margin-right: 10%;
  float: right;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  position: absolute;
  width: 25%;
  height: 25%;
  right: 0;
  top: 40%;
  animation: updown 3s linear infinite;
  clear: both;
  z-index: 10;
}
@media (max-width: 576px) {
  .banner img {
    top: 65%;
  }
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/

.progress-container {
  display: flex;
  align-items: center;
  height: 1rem;
}

.progress-container p {
  margin-top: 4.6%;
}
.progress {
  width: 100%;
  height: 0.45rem !important;
  position: relative;
  margin-left: 5%;
}

.progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #753aa2;
  transition: all 0.4s ease-in-out;
}
.skill {
  overflow: hidden;
  position: relative;
}
.skill div:not(.stars) {
  z-index: 10;
}
.skill-h2 {
  font-size: 2.8rem;

  margin: 5% 0 5% 40%;
}
.skill-container p {
  font-weight: 500;
}
.progress .progress-rate-80 {
  width: 80%;
}
.progress .progress-rate-95 {
  width: 95%;
}
.progress .progress-rate-90 {
  width: 90%;
}
.progress .progress-rate-85 {
  width: 85%;
}
.progress .progress-rate-75 {
  width: 75%;
}
.progress .progress-rate-65 {
  width: 65%;
}
.progress .progress-rate-60 {
  width: 60%;
}

.progress .progress-rate-50 {
  width: 50%;
}

/************* animation for Skills *************/
.cubespinner-container {
  position: relative;
  float: left;
  top: 30%;
  left: 45%;
  background: rgb(243, 241, 242);
}

@media (max-width: 500px) {
  .cubespinner div {
    height: 50px;
  }

  .project p {
    margin-bottom: 300px;
  }
}

.swiper-grid {
  margin-top: -10px;
}

.cubespinner {
  position: absolute;
  left: 0;
  animation-name: spincube;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}
@media (max-width: 640px) {
  .cubespinner {
    top: -90vh;
    left: 45vw;
  }
  .skill-h2 {
    margin-right: 5vw;
    padding: 5vh 0 60vh 0;
    transform: translate(-15vw, 10px);
  }
  .skill-container {
    width: 80vw;
    margin-right: 0.9rem;
  }
}
.cubespinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotate-size-10 {
  font-size: 0.5rem;
}
.face12 img,
.face9 img,
.face15 img {
  width: 50%;
}
.face17 img {
  width: 44%;
}
.face7 img,
.face10 img,
.face5 img,
.face14 img {
  width: 75%;
}
.face1 {
  transform: translateZ(150px);
}
.face2 {
  transform: rotateY(90deg) translateZ(150px);
}
.face3 {
  transform: rotateY(90deg) rotateX(45deg) translateZ(150px);
}
.face4 {
  transform: rotateY(135deg) rotateZ(90deg) translateZ(150px);
}
.face5 {
  transform: rotateY(-45deg) rotateZ(0deg) translateZ(150px);
}
.face6 {
  transform: rotateX(-45deg) translateZ(150px);
}
.face7 {
  transform: rotateY(-135deg) translateZ(150px);
}
.face8 {
  transform: rotateY(45deg) translateZ(150px);
}
.face9 {
  transform: rotateY(90deg) rotateX(135deg) translateZ(150px);
}
.face10 {
  transform: rotateY(180deg) translateZ(150px);
}
.face11 {
  transform: rotateY(-90deg) translateZ(150px);
}
.face12 {
  transform: rotateX(-135deg) translateZ(150px);
}
.face14 {
  transform: rotateX(135deg) rotate(180deg) translateZ(150px);
}
.face15 {
  transform: rotateX(45deg) translateZ(150px);
}
.face16 {
  transform: rotateX(-90deg) rotateY(45deg) rotate(90deg) translateZ(150px);
}
.face17 {
  /* transform: rotateX(-90deg) rotateY(-45deg) rotate(270deg) translateZ(150px); */
  transform: translateZ(-1px) rotateY(180deg);
}
@keyframes spincube {
  0% {
    transform: rotateY(360deg) rotateX(0deg);
  }
  33% {
    transform: rotateY(270deg) rotateX(30deg);
  }
  66% {
    transform: rotateY(180deg) rotateX(0deg);
  }
  66% {
    transform: rotateY(90deg) rotateX(-30deg);
  }
  100% {
    transform: rotateY(0) rotateX(0deg);
  }
}

/************ Projects Css ************/
.project-carousel .mySwiper {
  width: 90%;
  height: 100vh;
  left: 0%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin: 0 5%;
  padding: 5% 0;
}

@media (max-width: 560px) {
  .project-carousel .mySwiper {
    height: 85vh;
  }
}
.mySwiper .swiper-pagination span {
  background-color: #753aa2;
}
.mySwiper .swiper-pagination {
  background-color: lightgray;
}
.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background: inherit;
  height: 35% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.project {
  padding: 80px 0;
  position: relative;
  height: 140vh;
  background-color: black;
  overflow: hidden;
}
.proj-choose-icon {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj-choose-icon button {
  width: 6%;
  margin: 0 5% 10%;
  display: block;
  position: relative;
  opacity: 1;
}
.proj-choose-icon button:hover {
  opacity: 0.75;
}
.proj-choose-icon .active svg,
.proj-choose-icon .active img {
  opacity: 0.75;
}
.proj-choose-icon .active::before {
  opacity: 1;
}
.proj-choose-icon button::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: white;
  top: -20%;
  opacity: 0;
}
.proj-choose-icon button:hover::before {
  opacity: 1;
}
.proj-choose-icon img {
  width: 100%;
}
.proj-choose-icon svg {
  width: 100%;
  height: 100%;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 16.66%;
}
@media (max-width: 1100px) {
  .project {
    height: 150vh;
  }
}
@media (max-width: 770px) {
  .project .nav.nav-pills .nav-item {
    width: 33%;
  }
  .project {
    height: 175vh;
  }
  .proj-choose-icon button {
    width: 13vw;
  }
  .proj-choose-icon {
    margin: 0 0 20% 0;
  }
  .nav-link#projects-tabs-tab-first {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-link#projects-tabs-tab-second {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .project .nav.nav-pills {
    width: 95%;
  }
}
.nav-pills .nav-link {
  border-radius: 0 !important;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  color: #fff;
  padding-top: 10%;
  width: 100%;
  height: 3rem;

  font-size: 0.9rem;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10%;
}

.proj-imgbx::before {
  content: '';
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-txtx a {
  display: none;
  text-decoration: none;
  background-color: #121212;
  color: #aa367c;
  margin: auto;
  width: fit-content;
  opacity: 0.7;
  padding: 3px 20px 3px 20px;
  border-radius: 4px;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-urls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
}
.proj-urls .proj-urls-git-link a {
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  top: -20%;
}
.proj-urls .proj-urls-git-link img {
  border: 1px solid black;
  border-radius: 50%;
}
.proj-urls .proj-urls-git-link a:hover img {
  border: 1px solid #fff;
  border-radius: 50%;
}
.proj-imgbx:hover .proj-txtx a {
  display: block;
}
.proj-imgbx:hover .proj-txtx a:hover {
  color: #fff !important;
}

.proj-txtx h4 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  /* line-height: 1.1em; */
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
  color: lightGray;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Projects Css ************/
.contact {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 60px 0 200px 0;
}

.contact img {
  width: 92%;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  caret-color: #aa367c;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 24px;
  margin-top: 25px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: '';
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-bx {
  background: #ffffff;
  border-radius: 55px;
  color: #121212;
  padding: 85px 150px;
  margin-bottom: 80px;
  margin-top: -122px;
}

.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  display: block;
  position: relative;
  left: -60px;
}

.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  width: 250%;
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .new-email-bx {
    left: -100px;
  }
  nav.navbar {
    width: 100%;
    margin: auto;
  }
}

.new-email-bx::before {
  content: '';
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.new-email-bx::after {
  content: '';
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  font-size: x-large;
  padding: 0 15px;
  caret-color: #aa367c;
}

.new-email-bx button {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}

@media (max-width: 900px) {
  .new-email-bx button {
    padding: 15px 10px;
    font-weight: 300;
  }
  .new-email-bx input {
    width: 190%;
    color: #121212;
    font-weight: 500;
    background: transparent;
    border: 0;
    font-size: large;
    padding: 0 13px;
  }
  .new-email-bx {
    position: relative;
    width: 130%;
    min-width: 200px;
  }
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.contact-button {
  border-radius: 75%;
}
.lets-connect {
  text-decoration: none;
  display: inline-flex;
  color: #fff;
  border: 0;
  writing-mode: vertical-rl;
  font-size: 20px;
  transition: 0.3s;
}
.lets-connect:hover {
  color: #753aa2;
  padding-top: 1rem;
}
.lets-connect:hover svg {
  margin-top: 2rem;
}
